@import "../../../../assets/scss/properties";

.cards {
  @include flexbox;
  @include align-items(center);
  @include gap(16px);
  flex-wrap: wrap;

  .card-item {
    @include flexbox;
    @include flex-direction(column);
    @include gap(16px);
    border-radius: 16px;
    box-shadow: 0px 5px 16px rgba(93, 93, 93, 0.06);
    padding: 16px;
    background-color: $primary-white;
    width: 29.33%;

    img {
      width: 100%;
      height: 175px;
      border-radius: 12px;
    }

    .card-item-info {
      @include flexbox;
      @include flex-direction(column);
      @include gap(4px);

      &__title {
        @include heading_4;
      }

      &__company {
        @include flexbox;
        @include align-items(center);
        @include gap(8px);

        svg {
          border-radius: 1000px;
        }

        &__title {
          @include small;
          color: $neutral-500;
        }
      }
    }

    .coins-button {
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);
    }
  }
}

.rowCards {
  @include flexbox;
  @include align-items(center);
  @include flex-direction(column);
  @include gap(16px);
  padding: 0 24px;

  .card-item {
    @include flexbox;
    @include gap(16px);
    border-radius: 16px;
    box-shadow: 0px 5px 16px rgba(93, 93, 93, 0.06);
    padding: 16px;
    background-color: $primary-white;
    width: 100%;

    img {
      width: 110px;
      height: 69px;
      border-radius: 12px;
    }

    .card-item-info {
      @include flexbox;
      @include flex-direction(column);
      @include gap(4px);

      &__title {
        @include heading_4;
      }

      &__company {
        @include flexbox;
        @include align-items(center);
        @include gap(8px);

        svg {
          border-radius: 1000px;
        }

        &__title {
          @include small;
          color: $neutral-500;
        }
      }
    }
  }
}

.modal {
  padding: 40px;
  @include flexbox;
  @include flex-direction(column);
  @include gap(24px);

  .info-title {
    @include flexbox;
    @include flex-direction(column);
    @include gap(8px);

    .title {
      @include heading_2;
    }

    .subtitle {
      @include paragraph;
      color: $neutral-500;
    }
  }

  &__main-info {
    @include flexbox;
    @include flex-direction(column);
    @include gap(24px);

    .heading {
      @include flexbox;
      @include gap(16px);
      padding: 16px;
      background-color: $neutral-100;
      border-radius: 16px;

      &__image {
        img {
          width: 175px;
          height: 110px;
        }
      }

      &__info {
        @include flexbox;
        @include flex-direction(column);
        @include gap(16px);

        &__description {
          @include flexbox;
          @include flex-direction(column);
          @include gap(4px);

          &__title {
            @include heading_4;
          }

          &__company {
            @include flexbox;
            @include align-items(center);
            @include gap(8px);

            svg {
              border-radius: 1000px;
            }

            .title {
              @include small;
              color: $neutral-500;
            }
          }
        }

        &__coins {
          width: 76px;
        }
      }
    }

    .description {
      @include flexbox;
      @include flex-direction(column);
      @include gap(16px);
      padding: 16px;
      background-color: $neutral-100;
      border-radius: 16px;

      &__title {
        @include heading_4;
      }

      &__text ::ng-deep {
        ul {
          @include flexbox;
          @include flex-direction(column);
          @include gap(8px);
          @include paragraph;
          padding-left: 16px;
        }
      }
    }

    .button {
      @include flexbox;
      @include align-items(center);
      @include gap(16px);

      app-primary-button {
        width: 100%;
        height: 48px;
      }
    }
  }
}

.purchase-success-modal {
  @include flexbox;
  @include flex-direction(column);
  @include gap(12px);

  height: 100%;
  padding: 40px;
  text-align: center;

  .title-message {
    @include flexbox;
    @include flex-direction(column);
    @include gap(12px);

    .title {
      @include heading_2;
    }

    .message {
      @include small;
      color: $neutral-500;
    }
  }

  .buttons {
    @include flexbox;
    @include align-items(center);
    @include gap(16px);
    margin-top: auto;

    app-primary-button {
      width: 100%;
      height: 48px;
    }
  }
}
