@import "../../../../../assets/scss/properties";

$small_height: 36px;
$medium_height: 40px;
$big_height: 44px;

:host {
  @include flexbox;
  @include flex-direction(column);
  @include gap(4px);

  label {

  }


  .wrapper {
    @include flexbox;
    @include align-items(center);
    @include flex-direction(row-reverse);
    @include gap(8px);
    border-radius: 4px;


    input {
      border: none;

      color: $cl-black;

      width: 100%;
      background: none;


      //caret-color: $cl-green;

      &::placeholder {
        color: $cl-gray;
      }

      &:focus + svg-icon {
        svg {
          path {
            fill: $cl-green;
          }
        }
      }

      &::-ms-reveal {
        display: none;
      }
    }

    i {
      cursor: pointer;
    }
  }
}
