<label>Пароль <span>*</span></label>
<div
  [ngClass]="{
    background: !bgHidden
  }"
  class="wrapper {{ size }}"
>
  <i
    (click)="passwordShown = !passwordShown"
    class="pi pi-{{ passwordShown ? 'eye-slash' : 'eye' }}"
  ></i>
  <input
    (blur)="onTouched()"
    (ngModelChange)="onChange($event)"
    [(ngModel)]="value"
    [disabled]="disabled"
    autocomplete="{{ autocomplete() ? '' : 'one-time-code' }}"

    placeholder="Пароль"
    type="{{ passwordShown ? 'text' : 'password' }}"
  />
</div>

