@import "../../../../assets/scss/properties";


.dropdown-menu {
  position: fixed;
  top: 16px;
  right: 30px;
  z-index: 1000;
  background-color: white;
  border: 1px solid $neutral-200;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 226px;
  height: 236px;
  border-radius: 8px;
  color: $neutral-500;

  @include paragraph;

  .profile-info {
    @include flexbox;
    @include align-items(center);
    @include gap(16px);

    padding: 13px 16px;

    img {
      width: 48px;
      height: 46px;
      border-radius: 1000px;
    }

    &__name-coins {
      @include flexbox;
      @include flex-direction(column);

      .coins {
        @include flexbox;
        @include align-items(center);
        @include gap(8px);

        svg-icon {
          width: 24px;
          height: 24px;
        }
      }
    }

    .profile-logo {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
  }

  .header-menu {
    border-top: 1px solid $neutral-200;
    border-bottom: 1px solid $neutral-200;
    padding: 6px 0;

    a {
      text-decoration: none;
    }

    .header-menu-item {
      @include flexbox;
      @include align-items(center);
      @include gap(16px);
      padding: 10px 16px;

      svg-icon {
        width: 24px;
        height: 24px;
      }

      cursor: pointer;

      &:hover {
        background-color: $brand-100;
      }
    }
  }

  .logout {
    padding: 6px 0;

    .header-menu-item {
      @include flexbox;
      @include align-items(center);
      @include gap(16px);
      padding: 10px 16px;

      svg-icon {
        width: 24px;
        height: 24px;
      }

      cursor: pointer;

      &:hover {
        background-color: $brand-100;
      }
    }
  }

  &__background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 900;
  }
}
