@import "../../../../assets/scss/properties";
.dropdown-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border: 1px solid $neutral-200;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 226px;
  border-radius: 8px;
  z-index: 100;

  .user-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid $neutral-200;

    .profile-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .points {
      margin-left: auto;
      font-weight: bold;
    }
  }

  .menu-item {
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: $neutral-100;
    }
  }
}
