<div class="sidebar">
  <div class="sidebar__container">

    <div class="logo-title">
      <a routerLink="">
        <div class="logo">
          <svg-icon src="/assets/icons/logo.svg"></svg-icon>
        </div>
        <div class="title">
          <span>Magic tap</span>
        </div>
      </a>
    </div>

    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <svg-icon src="/assets/icons/tabs/home.svg"></svg-icon>
          <span class="menu-text">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/orders" routerLinkActive="active">
          <svg-icon src="/assets/icons/tabs/current-benefits.svg"></svg-icon>
          <span class="menu-text">Активность</span>
        </a>
      </li>
      <li>
        <a routerLink="/staff" routerLinkActive="active">
          <svg-icon src="/assets/icons/tabs/person.svg"></svg-icon>
          <span class="menu-text">Сотрудники</span>
        </a>
      </li>
      <li>
        <a routerLink="/catalog" routerLinkActive="active">
          <svg-icon src="/assets/icons/tabs/catalog.svg"></svg-icon>
          <span class="menu-text">Льготы</span>
        </a>
      </li>
      <li>
        <a routerLink="/questions-and-answers" routerLinkActive="active">
          <svg-icon src="/assets/icons/tabs/questions-and-answers.svg"></svg-icon>
          <span class="menu-text">Вопросы и ответы</span>
        </a>
      </li>

    </ul>
  </div>
  <a class="settings" routerLink="/settings">
    <svg-icon src="/assets/icons/settings.svg"></svg-icon>
    <span>Настройки</span>
  </a>
</div>

