<div class="sidebar">
  <ul>
    <li>
      <a routerLink="/main" routerLinkActive="active">
        <span class="menu-icon material-icons">grade</span>
        <span class="menu-text">Главная</span>
      </a>
    </li>
    <li>
      <a routerLink="/current-benefits" routerLinkActive="active">
        <span class="menu-icon material-icons">grade</span>
        <span class="menu-text">Действующие льготы</span>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" routerLinkActive="active">
        <span class="menu-icon material-icons">schedule</span>
        <span class="menu-text">Каталог льгот</span>
      </a>
    </li>
    <li>
      <a routerLink="/questions-and-answers" routerLinkActive="active">
        <span class="menu-icon material-icons">access_time</span>
        <span class="menu-text">Вопросы и ответы</span>
      </a>
    </li>

  </ul>
</div>

