@import "../../../../assets/scss/properties";

/* Define a mixin for common styles */
@mixin menu-item {
  color: $primary-black;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;

  .menu-icon {
    font-size: 24px;
    margin-right: 10px;
  }

  .menu-text {
    // font-weight: bold;
  }
}

.sidebar {
  @include flexbox;
  @include flex-direction(column);
  border-right: 1px solid $neutral-200;
  height: 93vh;
  min-width: 274px;
  padding: 24px 16px;

  &__container {
    @include flexbox;
    @include flex-direction(column);
    @include gap(40px);

    .logo-title {

      a {
        @include flexbox;
        @include align-items(center);
        @include gap(16px);
        @include heading_4;
        color: $brand-900;
        text-decoration: none;

        .logo {
          width: 34px;
          height: 34px;
        }
      }
    }

    ul {
      li {

      }
    }
  }

  .settings {
    @include flexbox;
    @include align-items(center);
    @include gap(16px);
    padding: 16px 12px;

    margin-top: auto;

    color: $primary-black;
    text-decoration: none;
    cursor: pointer;

  }
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  @include menu-item;
  @include flexbox;
  @include align-items(center);
  @include gap(16px);
  padding: 12px 16px;

  user-select: none;
  cursor: pointer;

  @include paragraph;

  svg-icon {
    width: 20px;
    height: 20px;
  }


  &:hover {
    // box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.5);
    background: $neutral-100;


  }

  &.active {
    color: $brand-900;
    background: $brand-100;
    border-radius: 8px;
    cursor: default;

    svg-icon {

      path {
        fill: $brand-900
      }
    }


    // border-radius: 5%;
  }

  &.active:hover {
    // color: #ffffff;

    // box-shadow: 4px 4px 6px #b9b9b9, -4px -4px 6px #ffffff;
    // background-color: #d5d5d5;
  }
}

.sub-menu {
  padding-left: 20px; /* Adjust the value to your desired padding */
}


.hideSidebar {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

/* Define the final state when showing */
.showSidebar {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}
