<form (ngSubmit)="onSubmit()" [formGroup]="authForm">
  <div class="input">
    <app-input
      [autocomplete]="true"
      [label]="'Email'"
      formControlName="username"
    />
  </div>
  <div class="input">
    <app-password
      [autocomplete]="true"
      [label]="'Пароль'"
      formControlName="password"
      size="big"
    />
  </div>

  <app-primary-button
    [disabled]="isLoading"
    [label]="'Войти'"
    height="26px"
    styling="standard"
    theme="dark"
    type="submit"
  />
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="isLoading" class="loading-spinner">
    Loading...
  </div>
</form>
