@import "../../../../assets/scss/properties";

.staff-container {
  @include flexbox;
  @include flex-direction(column);
  @include gap(16px);

  .staff {
    @include flexbox;
    @include gap(118px);
    @include align-items(center);

    padding: 16px;
    background-color: $primary-white;
    border-radius: 16px;

    .account-info {
      width: 340px;
      @include flexbox;

      .img {
        padding-right: 16px;
        border-right: 1px solid #d1d1d1;

        img {
          width: 48px;
          height: 48px;
          border-radius: 1000px;
        }
      }

      .name-container {
        @include flexbox;
        @include flex-direction(column);
        @include gap(6px);

        padding-left: 16px;

        .status {
          @include small;
          color: $neutral-500;
        }
      }
    }

    .company {
      @include heading_4;
      width:200px
    }

    .number{
      width:150px

    }


  }
}

.orders-modal {
  @include flexbox;
  @include flex-direction(column);
  @include gap(16px);
  padding: 24px;
  width: 100%;

  .title{
    @include heading_2;
  }

  .orders-modal-container{
    width: 100%;
    @include flexbox;
    @include gap(6px);

    ::ng-deep app-benefits-cards{
      .cards{
        width: 350px;
        .card-item{
          width: 100%;
          height:370px

        }
      }
    }

  }
}
