@if (orders) {
  <div class="staff-container">
    <div *ngFor="let item of orders">
      <div class="staff" (click)="openModal(item)">
        <div class="account-info">
          <div class="img">
            @if (item.avatar) {
              <img src="{{ item.avatar }}" alt="" />
            } @else {
              <img src="/assets/images/main/profile.png" alt="" />
            }
          </div>
          <div class="name-container">
            <div class="name" [innerHTML]="item.first_name"></div>
            <div class="status" [innerHTML]="item.last_name"></div>
          </div>
        </div>
        <div class="company" [innerHTML]="item.company"></div>

        <div class="number" [innerHTML]="item.phone_number"></div>

        <div class="coins">
          <app-coins [coins]="item.coins" />
        </div>
      </div>
    </div>
  </div>
}

<modal [width]="'80%'" [(visible)]="isModalVisible" [hasOverflow]="true">
  <div class="orders-modal">
    <div class="title">Список заказов пользователя</div>
    <div class="orders-modal-container">
      @if (currentCard) {
        @if (currentCard.orders){
        @for (item of currentCard.orders; track item) {
            <app-benefits-cards
            [cards]="item.benefits"
            [isEditable]="false"
            type="catalog"
          ></app-benefits-cards>
        }
      } @else {
          <div class="title">Заказы отсутствуют</div>

        }
      }

    </div>
  </div>
</modal>
