<div class="header">
  <app-input
    [placeholder]="'Поиск'"
    type="search"
    [width]="'100%'"
    [bgHidden]="true"
    [clearBtnShown]="true"
    #input
  />

  <div class="account-info">
    <div class="notification">
      <app-notifications />
    </div>
    <div class="coins">
      <app-coins [isLink]="true" [coins]="10" />
    </div>
    <div class="account-image" (click)="openModal()">
      <svg-icon src="assets/icons/account/account-logo.svg" />
    </div>
    <app-primary-button
      theme="dark"
      styling="standard"
      [label]="'Купить'"
      type="routerLink"
      (click)="openModal()"
    />
  </div>
</div>
<app-header-menu [(visible)]="purchaseSuccessModalVisible"></app-header-menu>
