<div class="header">
  <app-input
    #input
    [bgHidden]="true"
    [clearBtnShown]="true"
    [placeholder]="'Поиск'"
    [width]="'100%'"
    type="search"
  />

  <div *ngIf="userProfile$ | async as userProfile" class="account-info">
    <div class="notification">
      <app-notifications/>
    </div>
    <div class="coins">
      <app-coins [coins]="userProfile.coins" [isLink]="true"/>
    </div>
    <div (click)="openModal()" class="account-image">
      <a>
        <img alt="" src="{{userProfile.avatar}}">
      </a>

    </div>
  </div>
</div>
<app-header-menu [(visible)]="modalVisible"></app-header-menu>
