
<div class="categories">
  <button
    *ngFor="let category of ['Все', 'Здоровье', 'Спорт', 'Питание', 'Обучение и развитие', 'Семья', 'Комфорт и удобства', 'Прочие']"
    [class.active]="isCategorySelected(category)"
    (click)="toggleCategory(category)">
    {{category}}
  </button>
</div>

<div class="main-page">
  <div class="most-popular">
    <div class="most-popular__cards">
      <app-benefits-cards [deadLine]="true" [cards]="filteredMostPopularCards"></app-benefits-cards>
    </div>
  </div>


</div>

