@import "../../../../assets/scss/properties";

:host ::ng-deep {
  > .wrapper {
    flex-direction: column;
    overflow: hidden;


    .page {
      display: flex;
      flex-direction: row;

      width: 100%;
      overflow: hidden;


      .page-content {
        width: 82%;
        max-height: 100vh;


      }
    }
  }
}
