<div class="account-page">
  <div class="account-container">
    <div class="content">
      <div class="content__title-subtitle">
        <div class="title">Настройки профиля</div>
        <div class="subtitle">Тут вы можете изменить персональные данные</div>
      </div>

      <div class="photo">
        <div class="photo__title">Фотография
        </div>
        <div class="photo__active">
          <img alt="" src="assets/icons/account/account-logo.svg"/>
          <div class="buttons">
            <app-primary-button
              [label]="'Зарузить фото'"
              styling="standard"
              theme="dark"
              type="submit"
            />

            <app-primary-button
              [label]="'Удалить фото'"
              styling="standard"
              theme="light"
              type="submit"
            />
          </div>
        </div>
      </div>

      <div class="form-container">
        <form>
          <div class="firstName-lastName">
            <!-- Имя и Фамилия -->
            <div class="form-group">
              <label for="firstName">Имя*</label>
              <input
                [(ngModel)]="firstName"
                id="firstName"
                name="firstName"
                required
                type="text"
              />
            </div>
            <div class="form-group">
              <label for="lastName">Фамилия*</label>
              <div class="input">
                <input
                  [(ngModel)]="lastName"
                  id="lastName"
                  name="lastName"
                  required
                  type="text"
                />
              </div>
            </div>
          </div>
          <!-- Электронная почта и Номер телефона -->
          <div class="account-data">
            <div class="group-title">Ваш аккаунт</div>
            <div class="account-data__content">
              <div class="form-group">
                <label for="email">Электронная почта*</label>
                <input
                  [(ngModel)]="email"
                  id="email"
                  name="email"
                  required
                  type="email"
                />
              </div>
              <div class="form-group">
                <label for="phoneNumber">Номер телефона*</label>
                <input
                  [(ngModel)]="phoneNumber"
                  id="phoneNumber"
                  name="phoneNumber"
                  required
                  type="tel"
                />
              </div>
            </div>
          </div>

          <div class="birthDate-country">
            <!-- Дата рождения и Страна -->
            <div class="group-title">
              Персональные данные
            </div>
            <div class="birthDate-country__content">
              <div class="form-group">
                <label for="birthDate">Дата рождения</label>
                <input
                  [(ngModel)]="birthDate"
                  id="birthDate"
                  name="birthDate"
                  type="date"
                />
              </div>
              <div class="form-group">
                <label for="country">Страна</label>
                <input
                  [(ngModel)]="country"
                  id="country"
                  name="country"
                  type="text"
                />
              </div>
              <div class="form-group">
                <label for="language">Выбрать язык</label>
                <select [(ngModel)]="language" id="language" name="language">
                  <option value="ru">Русский</option>
                  <option value="en">Английский</option>
                  <!-- Add more languages as needed -->
                </select>
              </div>
              <div class="form-group">
                <label>Пол</label>
                <div class="radio-group">
                  <input
                    [(ngModel)]="gender"
                    name="gender"
                    type="radio"
                    value="male"
                  />
                  <label>
                    Мужской
                  </label>
                  <input
                    [(ngModel)]="gender"
                    name="gender"
                    type="radio"
                    value="female"
                  />
                  <label>
                    Женский
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="buttons-block">
      <div class="button">
        <app-primary-button
          [label]="'Сбросить'"
          styling="standard"
          theme="light"
          type="submit"
        />

      </div>
      <div class="button">
        <app-primary-button
          [label]="'Сохранить'"
          styling="standard"
          theme="light"
          type="submit"
        />
      </div>
    </div>
  </div>


</div>
