@import "../../../../assets/scss/properties";


.tabs-wrapper {
  @include flexbox;
  @include flex-direction(column);

  border-right: 1px solid $neutral-200;
  height: 100vh;
  padding: 24px 16px;

  svg-icon {
    width: 20px;
    height: 20px;
  }


  .tabs-container {
    @include flexbox;
    @include flex-direction(column);
    @include gap(40px);

    .logo-title {

      a {
        @include flexbox;
        @include align-items(center);
        @include gap(16px);
        @include heading_4;
        color: $brand-900;
        text-decoration: none;

        .logo {
          width: 34px;
          height: 34px;
        }
      }
    }

    &.sticky {
      position: sticky;
    }

    .tabs {
      @include flexbox;
      @include flex-direction(column);

      .tab-wrapper {
        @include flexbox;
        padding: 8px 0;

        .tab {
          @include flexbox;
          @include align-items(center);
          @include gap(16px);
          width: 100%;
          padding: 12px 16px;

          user-select: none;
          cursor: pointer;

          @include paragraph;


          &.active {
            color: $brand-900;
            background: $brand-100;
            border-radius: 8px;
            cursor: default;

            svg-icon {
              path {
                fill: $brand-900
              }
            }
          }
        }
      }
    }
  }


  .settings {
    @include flexbox;
    @include align-items(center);
    @include gap(16px);
    padding: 16px 12px;

    margin-top: auto;

    color: $primary-black;
    text-decoration: none;
    cursor: pointer;

  }

}
