@import "../../../../assets/scss/properties";

.tabs-wrapper {

  @include flexbox;
  @include flex-direction(column);
  @include gap(16px);
  padding: 24px 16px;

  &.sticky {
    position: sticky;
  }

  .tabs {


    @include flexbox;
    @include flex-direction(column);

    .tab-wrapper {
      @include flexbox;
      padding: 8px 0;

      .tab {
        @include flexbox;
        @include align-items(center);
        @include gap(16px);
        @include subtitle_2_300;
        width: 100%;
        padding: 12px 16px;

        user-select: none;
        cursor: pointer;


        .title {
          &.bold {
            font-family: $font-500;
          }
        }

        &.active {
          color: $brand-900;
          background: $brand-100;
          border-radius: 8px;
          cursor: default;

          .title {
            @include subtitle_2_700;
          }
        }
      }
    }
  }
}
