@import "../../../../assets/scss/properties";

a{
  color: $primary-black;
  text-decoration: none
}
.coins-container {

    width: 86px;


  .coins {
    @include flexbox;
    @include align-items(center);
    @include gap(8px);
    background-color: $brand-100;
    border-radius: 6px;
    padding: 10px 16px;

    @include lead;


    svg-icon {
      width: 24px;
      height: 24px;
    }


  }
}
