@import "../../../../assets/scss/properties";

a {
  color: $primary-black;
  text-decoration: none;
}
.coins-container-link {
  width: 86px;

  .coins {
    @include flexbox;
    @include align-items(center);
    @include gap(8px);
    background-color: $brand-100;
    border-radius: 8px;
    padding: 10px 16px;

    @include font-(20px, 28px);
    font-family: "Inter-regular";
    font-weight: 100;

    svg-icon {
      width: 24px;
      height: 24px;
    }
  }
}

.coins-container {
  .coins {
    @include flexbox;
    @include align-items(center);
    @include gap(8px);
    background-color: $brand-100;
    border-radius: 8px;
    padding: 10px 16px;

    @include small;

    svg-icon {
      width: 24px;
      height: 24px;
    }
  }
}
