<div class="main-page">

  <div class="banner">
    <div class="banner-content">
      <span>Льготы <br /> </span>
    </div>
    <app-primary-button
      (onClick)="openModal()"
      [label]="'Добавить льготу'"
      styling="standard"
      theme="green"
      type="button"
    ></app-primary-button>
  </div>

  <div class="categories">
    @for (category of categories; track category) {
      <button
        (click)="toggleCategory(category.id)"
        [class.active]="isCategorySelected(category)"
      >
        {{ category.name }}
      </button>
    }
  </div>

  <div class="most-popular">
    <div class="most-popular__cards">
      <app-benefits-cards
        [cards]="filteredBenefits"
        (deleteBenefit)="deleteBenefit($event)"
        (editBenefit)="openEditModal($event)"

        type="catalog"
      ></app-benefits-cards>
    </div>
  </div>
</div>

<modal [(visible)]="isVisible">
  <div class="create-modal">
    <div class="create-modal__title">
      {{ isEditMode ? 'Редактирование льготы' : 'Добавление льготы' }}
    </div>    <form [formGroup]="benefitForm">
      <div class="flex-row">
        <div class="form-group">
          <label for="name">Название:</label>
          <input formControlName="name" id="name" type="text" />
        </div>
        <div class="form-group">
          <label for="sub_name">Подзаголовок:</label>
          <input formControlName="sub_name" id="sub_name" type="text" />
        </div>
      </div>
      <div class="flex-row">
        <div class="form-group">
          <label for="description">Описание:</label>
          <input formControlName="description" id="description" type="text" />
        </div>
        <div class="form-group">
          <label for="company">Компания:</label>
          <input formControlName="company" id="company" type="text" />
        </div>
      </div>
      <div class="flex-row">
        <div class="form-group">
          <label for="expired_date">Дата истечения:</label>
          <input formControlName="expired_date" id="expired_date" type="date" />
        </div>
        <div class="form-group">
          <label for="cost">Стоимость:</label>
          <input formControlName="cost" id="cost" type="number" />
        </div>
      </div>
      <div class="form-group">
        <select formControlName="category">
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </div>

      <div class="photo">
        <div class="photo__title">Фотография</div>
        <div class="photo__active">
          <img [src]="benefitForm.get('photo')?.value" alt="" class="avatar" />
          <div class="buttons">
            <div class="input-button">
              <label class="button" for="avatar-upload">Загрузить фото</label>
              <input
                (change)="onFileSelected($event)"
                id="avatar-upload"
                style="display: none"
                type="file"
              />
            </div>
            <app-primary-button
              (click)="removePhoto()"
              [label]="'Удалить аватар'"
              styling="standard"
              theme="light"
              type="button"
            />
          </div>
        </div>
      </div>
    <app-primary-button
      (click)="addOrUpdateBenefit()"
      [label]="isEditMode ? 'Обновить льготу' : 'Добавить льготу'"
      styling="standard"
      theme="dark"
      type="button"
    ></app-primary-button>
    </form>
  </div>
</modal>
