@import "../../../../../../assets/scss/properties";

button,
a {
  &.green {
    &.standard {
      background: $cl-green-light;
      color: $primary-white;

      @include hover {
        background: $cl-green;
      }
    }
  }
}
