@import "../../../../../../assets/scss/properties";

@import "../../../../../../assets/scss/properties";

button,
a {
  &.light {
    &.standard {
      background: $neutral-100;
      border: 1px solid $neutral-300;
      color: $primary-black;

      @include hover {
        background: $brand-100;
      }

    }
  }
}
